
.jumbotron{
    margin-top: 50px;
}

.jumbotron-fluid{
    height: auto;
}

.mobile-menu-wrapper{
    height: 100vh;
}

.list-group-item > a{
    color: white;
}

.row{
    padding: 20px;
}

.section-header{
    margin-bottom: 20px;
}

.icon{

}