
.jumbotron{
    margin-top:100px;
}

.jumbotron-fluid{
    height: auto;
}

.row{
    padding: 20px;
}

.container-sm{
background-color: lightcoral
}

.container-md{
background-color: lightgreen
}

.container-lg{
background-color: lightgrey
}

.container-xl{
background-color: lightskyblue
}
#column-1 {
    /* background-color: lightslategray; */
}
#column-2 {
    /* background-color: lightgreen; */
}
#column-3 {
    /* background-color: lightsalmon; */
}

.section-header{
    margin-bottom: 20px;
}